@charset "UTF-8";

html,body{
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  background: #000;
}
#header-page{
  position: relative;
  width: 80%;
  height: 37px;
  padding: 0px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
}
#title-page{
  position: relative;
  margin: 0 auto;
  width: auto;
  height: 37px;
  color: #4d4d4d;
  text-align: center;
  font-family: kenyan;
  font-weight: normal;
  font-size: 2.3em;
  padding: 0px;
}
#home{
  position: relative;
  float: left;
  width: 100%;
  height: 100%;
  text-align: center;
  background: #000;
}
#cardapio{
  position: relative;
  float: left;
  width: 100%;
  height: auto;
  background: #fff;
  clear: both;
  top: 60px;
}
#delivery{
  position: relative;
  float: left;
  width: 100%;
  height: 100%;
  text-align: center;
  background: url(../images/background-delivery.png) fixed center no-repeat;
  background-size: cover;
}
